
.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
   
 }

.form{
    background-color: rgb(250, 242, 215);
    margin: auto;
    width: 60%;
    max-width: 400px;
    text-align: center;
   

}
.grupo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px; 
   
}
button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: violet;
    border-radius: 20px;
    border-radius: 20px;
    width: 100px;
    height: auto;
    border: none;
    color: black;
     height: 25px;
    cursor: pointer;
  
    
}


