*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo{
    height: 4px;
    width: auto;
    cursor: pointer;
}
.nav-links{
    list-style: none;
}
.header{
    background-color:rgb(237, 158, 197);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    
}
.header .logo img:hover{
    transform: scale(1.1);
}
.header .logo img{
    height: 80px;
    width: auto;
    transition: all 0.3s;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 30px;
}
.header .nav-links a{
    font-size: 700;
    color: rgb(184, 64, 128);
    text-decoration: none;
}

.contacto{
    border-radius: 20px;
    margin: 40px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
}
h1{
    text-align: center;
}
h4{
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}

.slider-frame {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
    margin-left: 300px;
	width: 50%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}




   