

#loginform{
    display: flex;
    gap: 40px;
    padding: 30px;
   
}
.enter{
    justify-content: center;
    padding: 30px;
    
}
.entrar{
    margin-left: 20px;
    font: 400;
    color: rgb(21, 0, 255);
   
}
#btn{
    border-radius: 20px;
    width: 100px;
    height: auto;
    border: none;
    color: black;
    height: 30px;
    cursor: pointer;
    background-color:antiquewhite;  
}

.enter a{
    display: flex;
    margin-top: 20px;
    font: oblique bold 120% cursive;
}
.ing{
    border-radius: 20px;
    width: 150px;
    border: none;
    color: black;
    height: 50px;
    cursor: pointer;

}
